{% extends "layout.html" %}
{% block body %}

<a href="{{url_for('projects.new')}}">Add a project</a>

   <h1>Suggested Projects</h1>
    <table>
        <tr>
        <td>Project</td>
        <td>One-liner</td>
        <td>Rating</td>
        </tr>
    {% for project in projects %}
        <tr class="project">
        <td class="project_name">{{project.link |safe}}</td>
        <td class="project_oneliner">{{project.oneliner}}</td>
        <td class="project_rating">{{project.rating}}</td>
        </tr>
  {% endfor %}
  </table>
{% endblock %}
